<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 入力セクション -->
    <section id="deposit_amount">
      <section>
        <h2>入力画面</h2>
        <!-- テキストボックスを作成 -->
        <input type="number" v-model="deposit_amount" />

        <!--入力額を表示する-->
        <div>入力額: {{ deposit_amount }}円</div>
        <!-- 入金ボタン出金ボタンの表示 -->
        <button v-on:click="deposit">入金</button>
        <button v-on:click="withdraw">出金</button>
      </section>

      <!-- 残高セクション -->
      <section>
        <h2>口座残高</h2>
        <!-- 残高表示をする -->
        <div>残高: {{ zandaka }}円</div>
      </section>

      <!-- 取引セクション -->
      <section>
        <!-- 取引が追加されるコードを作るには？ -->
        <h2>取引の追加</h2>
        <li v-for="log in logs">記録追加{{ log.logs }}</li>
      </section>
    </section>
    <!-- Vueコードを読み込む -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
  </body>
</html>
